################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bluepen.syncdojo.jira.domain/bin/Debug/bluepen.syncdojo.jira.domain.dll
