################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bluepen.syncdojo.jira.domain/bin/Debug/bluepen.syncdojo.jira.domain.dll
/bluepen.syncdojo.jira.domain/bin/Debug/bluepen.syncdojo.jira.domain.pdb
/bluepen.syncdojo.jira.domain/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/bluepen.syncdojo.jira.domain/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/bluepen.syncdojo.jira.domain/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/bluepen.syncdojo.jira.domain/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/bluepen.syncdojo.jira.domain/obj/Debug/bluepen.syncdojo.jira.domain.pdb
/bluepen.syncdojo.jira.domain/obj/Debug/bluepen.syncdojo.jira.domain.dll
/bluepen.syncdojo.jira.domain/obj/Debug/bluepen.syncdojo.jira.domain.csproj.FileListAbsolute.txt
/bluepen.syncdojo.jira.units/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
/bluepen.syncdojo.jira.units/bin/Debug/bluepen.syncdojo.jira.units.pdb
/bluepen.syncdojo.jira.units/bin/Debug/bluepen.syncdojo.jira.units.dll
/.vs/bluepen.syncdojo.jira/v14/.suo
/bluepen.syncdojo.jira.units/obj/Debug
